<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Work With Excel</title>
  <style>
    #errors {
      color: red
    }

    #inserted {
      color: green
    }

    a {
      color: #000;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div>
    Insert your Excel file
  </div>
  <input type="file" id="file">
  <button type="button" onclick="sendFile()">send</button>
  <br>
  <br>
  <hr>
  <div id="errors"></div>
  <div id="inserted"></div>
  <button type="button" onclick="clearContent('errors'), clearContent('inserted')">Clear Message</button>
  <button type="button" onclick="getAll()">Get All Data</button>
  <button type="button" onclick="removeAllData()">Remove All Data</button>
  <br>
  <hr>
  <br>
  <table border="1"></table>
  <br>
  <button><a target="_blank" href="/sv/download">Download Excel File</a></button>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="/main.js"></script>
</body>

</html>